body{
    background-color: rgb(74, 153, 127);
}
main{
    
    max-width: 1200px;
    min-height: 900px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(150, 253, 219);
    padding: 50px 0px;
}
h1{
    margin: 0 auto;
    font-weight: 900;
    color: rgb(3, 70, 47);
}
.contents{
    max-width: 600px;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}
.name{
    min-height: 40px;
    border-radius: 15px;
    border: 5px;
    border-style: solid;
    border-color: rgb(46, 92, 4);
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-self: center;
    width: 300px;
}
.sms{
    min-height: 100px;
    border-radius: 15px;
    border: 5px;
    font-size: 16px;
    padding: 20px;
    resize: none;
    border-style: solid;
    border-color: rgb(23, 59, 1);
}
button{
    width: 200px;
    height: 50px;
    background-color: brown;
    color: bisque;
    font-size: 20px;
    font-weight: 900;
    margin: 50px auto;
    border-radius: 15px;
}
span{
    font-style: italic;
    font-size: 12px;
    color: rgb(255, 8, 0);
}
