body{
    background-color: rgb(74, 153, 127);
}
main{
    
    width: 1200px;
    min-height: 1000px;
    margin-left: auto;
    margin-right: auto;
    background-color: aquamarine;
    padding: 50px 0px;
}
h1{
    margin: 0 auto;
}
.contents{
    max-width: 600px;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}
.name{
    min-height: 40px;
    border-radius: 15px;
    border: 5px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-self: center;
}
.sms{
    min-height: 100px;
    border-radius: 15px;
    border: 5px;
    font-size: 16px;
    padding: 20px;
    resize: none;
}
button{
    width: 200px;
    height: 50px;
    background-color: brown;
    color: bisque;
    font-size: 20px;
    font-weight: 900;
    margin: 50px auto;
    border-radius: 15px;
}
span{
    font-style: italic;
    font-size: 14px;
}
